.email-form {
	background: $brand_green;
}

.newsletter {
	display:flex;
	color: white;
	padding: 53px 0;
	h3 {
		color: white;
		flex-grow: 1;
		font-size: 1.625rem;
		font-weight: 600;
		align-self: center;
	}
}

.newsletter-form {
	display: flex;
	border: 1px solid white;
	border-radius: 50px;
	align-items: center;
	label {
		visibility: hidden;
		position: absolute;
	}
	input[type="email"] {
		background-color: $brand_green;
		border: none;
		margin-left: 27px;
		min-width: 100%;
		// padding-right: 179px;
	}
	input::placeholder {
		color: white;
		font-family: $font_rale;
		font-size: 1.125rem;
		font-weight: 600;
		letter-spacing: 1px;
		
	}
	button {
		background-color: $brand_green;
		border: none;
		border-radius: 50px;
		color: white;
		padding: 27px 34px 26px 15px; 
		font-size: 1.5rem;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-right: 2px;
		span {
			margin-left: 18px;
		}
	}
}

.newsletter-email {
	border-right: 1px solid white;
	padding: 27px 179px 26px 15px; 
	line-height: 30px;
}

.contact-main {
	display: flex;
	padding: 151px 0 149px 0;
}

.contact-form {
	width: 70%;
	h3 {
		padding-bottom: 32px;
	}
	label {
		visibility: hidden;
		position: absolute;
	}
	input {
		display: block;
		margin-bottom: 26px;
	}
	input#name, input#email{
		padding: 0;
		border: none;
		min-width: calc(50% - 15px);
		padding: 25px 0 24px 42px;
		border: 1px solid #cccccc;
		border-radius: 10px;
		float: left;
	}

	input#email {
		padding-left: 27px;
		margin-left: 30px;
		border: 1px solid #cccccc;
		border-radius: 10px;
	}
	input#subject {
		padding: 0;
		border: none;
		min-width: 100%;
		padding: 24px 0 20px 28px;
		border: 1px solid #cccccc;
		border-radius: 10px;
	}
	textarea {
		resize: none;
		border: none;
		min-height: 150px;
		min-width: 100%;
		border: 1px solid #cccccc;
		border-radius: 10px;
		padding: 26px;
		margin-bottom: 42px;
	}
	button {
		border: none;
		color: $white_font;
		font-family: $font_rale;
		font-size: 1.25rem;
		letter-spacing: 1px;
		font-weight: 600;
		padding: 21px 48px 18px 47px;
		border-radius: 10px;
		background-color: $brand_green;
	}
}

.contact-info {
	width: 30%;
	margin-left: 42px;
	h3 {
		padding-bottom: 42px;
	}
}

.contact-item {
	display: flex;
	font-size: 1.375rem;
	padding-bottom: 48px;
}

.contact-icon i {
	color: $white_font;
	background-color: $brand_green;
	margin-right: 35px;
	align-self: center;
	border: 1px solid $brand_green;
	border-radius: 50px;
}

.contact-icon {
	.map {
		padding: 12px 17px;
	}
	.phone {
		padding: 12px 15px;  
	}
	.mail {
		padding: 12px 13px;
	}
}

.contact-details {
	a {
		color: $dark_grey_font;
		font-family: $font_open;
	}
}



@media (max-width: 940px) {
	.newsletter {
		padding: 30px 0;
		margin: 0 10px;
		h3 {
			font-size: 1.5rem;
			align-self: flex-start;
		}
	}

	.newsletter-form {
		width: 70%;
		align-items: center;
		input[type="email"] {
			background-color: $brand_green;
			border: none;
			margin: 0 27px;
			min-width: 30%;
		}
		input::placeholder {
			font-size: 0.875rem;
		}
		button {
			width: 70%;
			margin: 0 auto;
			padding: 0; 
			font-size: 1.125rem;
			span {
				margin-left: 18px;
			}
		}
	}
	.newsletter-email {
		width: 100%;
		height: 100%;
		border-right: 1px solid white;
		padding: 10px 0; 
	}

	.contact-form {
		width: 85%;
		padding-left: 40px;

	}

	.contact-main {
		flex-direction: column;
		padding: 94px 0 102px 0;
	}


	.contact-info {
		width: 100%;
		padding-left: 40px;
		padding-top: 50px;
		margin: 0;
	}

	.contact-item:last-child {
		padding-bottom: 0;
	}

	.contact-icon i {
		margin-right: 10px;
	}
}


@media (max-width: 768px) {
	.newsletter {
		padding: 20px 0;
		flex-direction: column;
		align-items: center;
		h3 {
			align-self: center;
			padding-bottom: 8px;
		}
	}

	.contact-main {
		padding: 69px 0 91px 0;
	}
	.contact-form {
		input {
			margin-bottom: 10px;
		}
		input#name, input#email{
			min-width: 100%;
		}

		input#email {
			margin-left: 0;
		}
		button {
			font-size: 1rem;
			padding: 12px 25px;
		}
	}
}
	
@media (max-width: 480px) {
	.newsletter {
		h3 {
			font-size: 1.125rem;
		}
	}
	.newsletter-form {
		width: 100%;
		align-self: flex-start;
		button{ 
			font-size: 1rem;
			span {
				margin-left: 4px;
			}
		}
	}
	
	.contact-main {
		padding: 60px 0 68px 0;
	}

	
}
