.news {
	padding-top:150px;
	padding-bottom: 147px;
	h2 {
		padding-bottom: 75px;
	}
}

.news-main {
	display: flex;
	width: 100%;
}

.news-item {
	max-width: 33.33%;
	margin-right: 40px; 
	padding-bottom: 94px;
}

.news-item:last-child {
	margin-right: 0;
}

.news-image {
	max-height: 285px;
	position: relative;
	text-align: center;
	margin-bottom: 30px;
	img {
		max-width: 100%;
		margin: 0 auto;
	}
	p {
		position: absolute;
		padding-top: 21px;
		text-transform: uppercase;
		background: $brand_green;
		color: #eefcf7;
		bottom: -33px;
		right: 23px;
		span {
			display: block;
			padding: 0 17px 11px 17px
		}
	}
}

.news-content {
	h5 {
		font-size: 1rem;
		font-weight: 600;
		line-height: 30px;
		text-transform: capitalize;
		span {
			display: block;
		}
	}
	p {	
		font-size: 0.85rem;
		line-height: 24px;
		padding: 23px 0 16px 0;
	}
	a {
		color: $brand_green;
		font-family: $font_open;
	}
}


.news-links {
	text-align: center;
	a {
		display: inline-block;
		text-transform: uppercase;
		font-family: $font_rale;
		font-size: 1.14rem;
		color: $white_font;
		border-radius: 50px;
	}
	a:first-child {
		background-color: $brand_green;
		padding: 23px 42px;
		margin-right: 15px;
	}
	a:last-child {
		background-color: #0c0c0c;
		padding: 23px 39px 23px 40px;
		margin-left: 15px;
	}
}


@media (max-width: 940px) {
	.news {
		padding-top: 94px;
		padding-bottom: 102px;
	}

	.news-main { 
		display: inline-block;
		min-width: 100%;
		margin: 0 auto;
	}
	.news-item {
		display: flex;
		max-width: 100%;
		padding-bottom: 30px;
	}

	.news-item:last-child {
		margin-right: 40px;
	}

	.news-content {
		max-width: 362px;
		margin: 0 auto;
	}
	.news-image {
		max-width: 362px;
		margin: 0 auto;
		p {
		right: 20px;
		bottom: 100%;
		transform: translateY(60%);
		}
	}
}


@media (max-width: 768px) {
	.news {
		padding-top: 69px;
		padding-bottom: 91px;
	}

	.news-main {
		display: block;
	}

	.news-item {
		display: block;
		max-width: 100%;
		margin-right: 0;  
		padding-bottom: 50px;
	}

	.news-item:last-child {
		margin-right: 0;
	}

	.news-image {
		width: 100%;
		max-width: 362px;
		margin: 0 auto;
	}

	.news-content {
		max-width: 362px; 
		width: 100%;
		text-align: center;
	}

	.news-links {
		a {
			font-size: 0.9rem;
		}
		a:first-child {
			padding: 15px 35px;
			margin-right: 0;
		}
		a:last-child {
			padding: 15px 38px;
			margin-left: 0;
		}
	}
}




@media (max-width: 480px) {
	.news {
		padding-top: 60px;
		padding-bottom: 68px;
	}
	
	.news-image {
		max-width: 362px;
		margin: 0 auto;
	}

	.news-links {
		width: 50%;
		margin: 0 auto;
		a {
			display:  block;
		}
		a:first-child{
			margin-right: 0;
			margin-bottom: 5px;
		}
		a:last-child{
			margin-left: 0;
		}
	}
}